$turquoise: #0D5582;
$red: #b50000;
$green: #008c23;
$purple: #6d08bf;
$page-width-small: 480px;

$subtle-shadow: 0 0 0.5em rgba(0,0,0,0.1);
$subtle-border-radius: 0.25em;
$body-padding: 2em;
$help-button-offset: 1em;
$step-header-padding: 1em;
$step-header-margin: 1em;
$cellar-list-padding: 1em;

@import '~bulma/sass/utilities/initial-variables';
